
.navmain{
  background-color: #d4b3b3;
}
.navbar {
 background-color: bisque;
  background-position: center; /* Center the background image */
  padding: 20px 0; /* Padding top and bottom */
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #e31c1c;
}

.navbar-brand:hover {
  color: #22f7f4; /* Yellow hover color */
}

.navbar-toggler {
  border: none; /* Remove border */
}

.nav-link {
  font-size: 18px;
  color: #bd1c1c; /* White text color */
  margin-right: 20px; /* Add margin between links */
}

.nav-link:hover {
  color: #15efef; /* Yellow hover color */
}

.navbar-nav .nav-link.active {
  color: #40fbee; /* Yellow active color */
}

.navbar-nav .nav-link:focus {
  color: #13f8e1; /* Yellow focus color */
}

.dropdown-item {
  font-size: 16px;
  color: #1a1a1a; /* Dark text color */
}

.dropdown-item:hover {
  background-color: #3000c1; /* Yellow hover background color */
  color: #1a1a1a; /* Dark text color */
}

.dropdown-menu {
  border: none; /* Remove border */
}

.dropdown-menu.show {
  background-color: #1a1a1a; /* Dark background color */
  border: none; /* Remove border */
}

.dropdown-menu.show .dropdown-item {
  color: #fff; /* White text color */
}

.dropdown-menu.show .dropdown-item:hover {
  background-color: transparent; /* Remove hover background color */
}
