#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Adjust width as needed */
    height: 100%;
    background-color: #fff; /* Adjust background color as needed */
    border-right: 1px solid #ccc; /* Add border for separation (optional) */
    z-index: 1000; /* Ensure the sidebar is above other content */
    transition: transform 0.3s ease; /* Add transition for smooth animation */
  }
  
  .sidebar-responsive {
    transform: translateX(0); /* Show sidebar when responsive class is applied */
  }
  
  .navbar {
    padding: 15px;
  }
  
  .nav-link {
    color: #000; /* Adjust link color as needed */
  }
  
  .icon_header {
    margin-right: 10px;
  }
  